@model IEnumerable<NoJohns.Models.ClientsProcedures>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procedure.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procedure.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProcedureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProcedureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProcedureId })
        </td>
    </tr>
}

</table>
